@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #fff;
    --text-color: #000;
    --main-color: #7b2cbf;
}

body {
    height: 100vh;
    width: 100vw;
}

.conatiner {
    background-image: url(backgroum2.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Navbar*/
.navbar {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    height: 40px;
    border-radius: 40%;
    transform: scale(1);
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#logo:hover {
    transform: scale(1.1);
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    display: inline;
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar ul li:hover {
    transform: scale(1.05);
    text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.navbar ul li a {
    font-family: Oswald;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    position: relative;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #ffcc00;
    transform: scale(1.2);
}

.navbar ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -6px;
    width: 0%;
    height: 2px;
    background: #ffcc00;
    border-radius: 100px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar ul li a:hover::after {
    width: 100%;
    left: 0;
}

/*---Hero Section---*/
#hero {
    background-image: url(backgroum2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

/*---Hero Left-Side---*/
.hero_left {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

#hero_pfp {
    height: 350px;
    border-radius: 50%;
    border: 0.8px solid #151C38;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#hero_pfp:hover {
    transform: scale(1.01);
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
}

/*---Hero ability---*/
.hero_ability {
    margin: 20px;
    display: inline;
    width: 40%;
    padding: 10px;
    border-radius: 50px;
    background-color: #151C38;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.hero_ability:hover {
    transform: scale(1.01);
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
}

.skill-box {
    width: 100%;
    margin: 25px 0;
}

.skill-box .name {
    color: #fff;
    display: block;
    font-size: 15px;
}

.skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 10px;
    margin-top: 6px;
    background-color: rgba(255, 255, 255, 0.1);
}

.skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background-color: #fff;
    animation: progress 1.4s ease-in-out forwards;
    opacity: 0%;
}

.skill-per.lead {
    width: 80%;
    animation-delay: 0.65s;
}

.skill-per.com {
    width: 90%;
    animation-delay: 0.5s;
}

.skill-per.flex {
    width: 85%;
    animation-delay: 0.6s;
}

.skill-per.lead {
    width: 83%;
    animation-delay: 0.7s;
}

.skill-per.manage {
    width: 80%;
    animation-delay: 0.65s;
}

@keyframes progress {
    0% {
        width: 0;
        opacity: 1;
    }

    100% {
        opacity: 100%
    }
}

.skill-box .tool-tip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 600%;
    color: #000;
    padding: 2px 6px;
    border-radius: 3px;
    background: #fff;
    z-index: 1;
}

.tool-tip::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    font-weight: 10px;
    z-index: -1;
    background: #000;
    transform: translate(-50%) rotate(45deg);
}

/*Hero Right-Side*/
.hero_content {
    width: 40%;
    padding-bottom: 20px;
    background-color: rgba(21, 28, 56, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.hero_content:hover {
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    text-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.hero_content h1 {
    color: #fff;
    font-size: 40px;
    text-align: left;
    transition: transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.hero_content h1:hover {
    color: #e2e1e1;
    text-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.003);
}

.hero_content h1 span {
    color: aliceblue;
    font-size: 75px;
}

.hero_content p {
    font-family: "Poppins", serif;
    font-weight: 600;
    width: 90%;
    font-size: 20px;
    color: #ffff;
    transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.hero_content p:hover {
    color: #e2e1e1;
    text-shadow: 0.4px 10px rgba(0, 0, 0, 0.2);
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    gap: 10px;
    flex-wrap: wrap;
}

.icons a i {
    color: white;
    transition: text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.icons a i:hover {
    color: #e2e1e1;
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.07);
}

/*---Education Section---*/
.timeline-wrapper {
    background-color: #f9f7f3;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 12% 2rem;
}

.timeline-row {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.heading {
    color: black;
    font-size: 2.7rem;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.heading i {
    color: black;
    font-size: 4rem;
}

.content-box {
    background-color: white;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    margin: 0.7rem;
    background-color: rgba(red, green, blue, 0.15);
    backdrop-filter: blur(5px);
    border: 3px solid rgb(110, 110, 110);
    border-radius: 1rem;
    font-size: 14px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s ease-in-out, color 0.3s;
}

.content-box:hover {
    transform: scale(1.015);
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
    backdrop-filter: blur(6px);

}

.content-box h3 {
    font-size: 1.3rem;
}

.content-box p {
    font-size: 1.2rem;
}

.content-box::before {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    left: -55px;
    top: 50%;
}


.timeline-box {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-left: 30px;
    border-left: 5px solid black;
}


.date {
    font-size: 1.7rem;
    color: black;
    font-weight: 700;
}

/*---Skills---*/
.skills-section {
   height: 100vh;
   background-color: #131B32;
}

.skills{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #131B32;
}


.skills .con{
    
    background-color: #192239;
    border-radius: 25px;
    color: black;
    padding: 2rem;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

.skills .con .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 1.8rem;
}

.skills .con .bar{
    margin: 15px;
    padding: 10px;
    border: 1rem;
    border-radius: 25px;
    background-color: #7b2cbf;
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.skills .con .bar:hover{
    box-shadow: 0.4px 10px rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
}

.skills .con .bar .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.skills .con .bar .info span{
    font-size: 2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.icon{
    height: 50px;
}






